body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  top: 0;
  position: sticky;
  z-index: 100;
  color: whitesmoke;
  box-shadow: 5px 10px rgb(212, 211, 211);
}

nav .search input {
  padding: 12px;
}
nav .nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

nav .nav-links .navigation {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
nav .nav-links ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav .nav-links ul li {
  list-style: none;
  font-size: 20px;
}

nav img {
  height: 60px;
  width: 30%;
  margin-right: 10px;
}

.main-1 {
  width: 1200px;
  margin: 0 auto;
}

.main {
  padding: 20px;
  display: flex;
  align-items: center;
  /* margin-top: 2rem; */
}

.main .left {
  flex: 0.5;
  line-height: 30px;
  padding: 20px;
  font-weight: 12px;
}

.main .left h3,
li {
  color: grey;
}

.main .right {
  flex: 0.5;
  padding: 20px;
}
#login-form {
  border: 1px solid grey;
  padding: 20px;
}
.main .right form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main .right form input {
  padding: 20px;
  border-radius: 7px;
  border: 1px solid grey;
  margin-bottom: 1rem;
}

.main .right form button {
  padding: 15px;
  width: 150px;
  border: none;
  background-color: #ffc107;
  color: grey;
  font-size: 19px;
  border-radius: 7px;
}

.low {
  padding-left: 30px;
}

.under {
  color: grey;
}

@media only screen and (max-width: 1000px) {
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .main .right {
    flex: 1;
    width: 800px;
    margin: auto;
  }

  nav .nav-links .navigation {
    display: none;
  }

  nav .search {
    display: none;
  }
}
